<!-- impact partial -->              
<div class="container">
									<div class="row">
										<h2 class="text-center">Impact Statistics</h2>				
									<!-- menu -->
									<div class="row space-bottom text-center">
										<span>
											<!-- ignore commands -->
											<span ng-include="'../../partials/ignore.html'">
										</span>
										</span>
										<!-- filter -->
										<div ng-if="filterToggle" ng-include="'../../partials/filter.html'"></div>
									</div>
									<!-- time charts -->
									<div class="col-md-4 text-center">
										<h4>Impact Days</h4>
										<span ng-if="!appState.impactData.days.day.length">No data available.</span>
										<canvas ng-if="appState.impactData.days.day" id="doughnut" class="chart chart-doughnut"
											chart-data="appState.impactData.days.count" chart-options="options" chart-labels="appState.impactData.days.day">
										</canvas>
										<p class="ng-cloak" ng-if="appState.impactData.days.day.length">
											Highest Number: {{ appState.impactData.days.highCount }} <br>
											Most Frequent: {{  appState.impactData.days.highday }}
										</p>
									</div>
									<div class="col-md-4 text-center">
										<h4>Impact Months</h4>
										<span ng-if="!appState.impactData.months.month.length">No data available.</span>
										<canvas ng-if="appState.impactData.months.month" id="doughnut" class="chart chart-doughnut"
											chart-data="appState.impactData.months.count" chart-options="options" chart-labels="appState.impactData.months.month">
										</canvas>
										<p class="ng-cloak" ng-if="appState.impactData.months.month.length">
											Highest Frequency: {{ appState.impactData.months.highCount }} <br>
											Most Frequent: {{  appState.impactData.months.highmonth }}
										</p>
									</div>
									<div class="col-md-4 text-center">
										<h4>Impact Years</h4>
										<span ng-if="!appState.impactData.years.year.length">No data available.</span>
										<canvas ng-if="appState.impactData.years.year" id="doughnut" class="chart chart-doughnut"
											chart-data="appState.impactData.years.count" chart-options="options" chart-labels="appState.impactData.years.year">
										</canvas>
										<p class="ng-cloak" ng-if="appState.impactData.years.year.length">
											Highest Frequency: {{ appState.impactData.years.highCount }} <br>
											Most Frequent: {{  appState.impactData.years.highyear }}
										</p>
									</div>
								</div>
								<!-- impact stats charts -->
								<div class="row">
									<div class="col-md-6 text-center">
										<h4>Impact Varieties</h4>
										<span ng-if="!appState.impactData.varieties.variety.length">No data available.</span>
										<canvas ng-if="appState.impactData.varieties.variety.length" id="doughnut" class="chart chart-doughnut"
											chart-data="appState.impactData.varieties.count" chart-options="options" chart-labels="appState.impactData.varieties.variety">
										</canvas>
										<p class="ng-cloak" ng-if="appState.impactData.varieties.variety.length">
											Highest Number: {{ appState.impactData.varieties.highCount }} <br>
											Most Frequent: {{  appState.impactData.varieties.highvariety }}
										</p>
									</div>
									<div class="col-md-6 text-center">
										<h4>Impact Ratings</h4>
										<span ng-if="!appState.impactData.ratings.rating.length">No data available.</span>
										<canvas ng-if="appState.impactData.ratings.rating.length" id="doughnut" class="chart chart-doughnut"
											chart-data="appState.impactData.ratings.count" chart-options="options" chart-labels="appState.impactData.ratings.rating">
										</canvas>
										<p class="ng-cloak" ng-if="appState.impactData.ratings.rating.length">
											Highest Frequency: {{ appState.impactData.ratings.highCount }} <br>
											Most Frequent: {{  appState.impactData.ratings.highrating }}
										</p>
									</div>
								</div>
								<!-- timeseries data -->
								<div class="row">
									<div class="col-md-6 text-center">
										<h4>Loss per Year</h4>
										<span ng-if="!appState.impactData.lossesPerYear.data.length">No data available.</span>
										<canvas ng-if="appState.impactData.lossesPerYear.data.length" id="line" class="chart chart-line"
											chart-data="appState.impactData.lossesPerYear.data" chart-options="appState.impactData.options" chart-dataset-override="appState.impactData.override" chart-labels="appState.impactData.lossesPerYear.series">
										</canvas>
									</div>
									<div class="col-md-6 text-center">
										<h4>Incidents per Year</h4>
										<span ng-if=
										"!appState.impactData.years.year.length">No data available.</span>
										<canvas ng-if="appState.impactData.years.year.length" id="line" class="chart chart-line"
											chart-data="appState.impactData.years.count" chart-options="options" chart-labels="appState.impactData.years.year">
										</canvas>
									</div>
								</div>
							</div>