<!-- multidim partial -->                   
<div class="container">
                <div class="row">
                  <div class="text-center">
						  <div class="col-md-2">
						    <label for="match">Match</label>
							<input id="match" class="form-control" type="text" ng-model="appState.match" 
																	ng-keyup="$event.keyCode == 13 ? inspect() : null">
																	</div>
						  <div class="col-md-2">
						    <label for="group">Group</label>
							<input id="group" class="form-control" type="text" ng-model="appState.group" 
																	ng-keyup="$event.keyCode == 13 ? inspect() : null">
						  </div>
						  <div class="col-md-2">
						    <label for="sort">Sort</label>
							<input id="sort" class="form-control" type="text" ng-model="appState.sort" 
																	ng-keyup="$event.keyCode == 13 ? inspect() : null">
						  </div>
						  <div class="col-md-2">
						    <label for="unwind">Unwind</label>
							<input id="unwind" class="form-control" type="text" ng-model="appState.unwind" 
																	ng-keyup="$event.keyCode == 13 ? inspect() : null">	
						  </div>
						  <div class="col-md-2">
						  <b>Reset:</b><br>
						  <button ng-click="clear()" ng-if="appState.match || appState.group || appState.sort || appState.unwind"><b>Reset</b></button>
						  </div>
						  <!-- loading indicator -->
						  <span ng-if="appState.loading && appState.mode === 'search'">
								Loading results....<br />
							<img src="/images/loading.gif" />
						  </span>
						  <!-- no results found -->
						  <span ng-if="appState.searchReturned && !appState.searchData.length>=1 && appState.query">
							No data returned.
						  </span>
						  <!-- number of results -->
						  <span ng-if="appState.searchReturned && appState.searchData.length>=1 && appState.query">
							{{ appState.searchData.length }} results returned.
						  </span>
                  </div>
				  <!-- results table -->
				  <div ng-if="appState.searchReturned && appState.searchData.length>=1" class="text-center">
					<table class="table-striped distance-table">
						<thead>
							<th>Date</th>
							<th>Victim</th>
							<th>Discovery</th>
							<th>Actor</th>
							<th>Asset</th>
							<th>Industry</th>
							<th>Country</th>
							<th>Reference</th>
							<th>Summary</th>
						</thead>
						<tr ng-repeat="obj in appState.searchData">
							<td><span ng-if="obj.date.day && obj.date.month">{{obj.date.year+'/'+obj.date.month+'/'+obj.date.day }}</span>
								  <span ng-if="obj.date.month && obj.date.year && !obj.date.day">{{obj.date.year+'/'+obj.date.month}}</span>
								  <span ng-if="obj.date.year && !obj.date.month">{{obj.date.year}}</span>
							</td>
							<td>{{ obj.victim }}</td>
							<td>{{ obj.discovery }}</td>
							<td >{{ obj.actor }}</td>
							<td>{{ obj.asset }}</td>
							<td>{{ obj.victim }}</td>
							<td>{{ obj.country }}</td>
							<td><a ng-href="{{ obj.reference }}">URL</a></td>
							<td hm-read-more
							hm-text="{{ obj.summary }}" 
							hm-limit="15" 
							hm-more-text="read more" 
							hm-less-text="read less"
							hm-dots-class="dots"
							hm-link-class="links"></td>
						</tr>
					</table>												
					</div>
                </div>
              <div>